<%= semantic_nested_form_for @ad, :html => {:multipart => true} do |f| %>
  <%= f.inputs do %>
    <%= f.input :title, :hint => "Title should be at least 10 characters long" %>
    <%= f.input :description %>
    <%= f.fields_for :images %>
    <p>
      <%= f.link_to_add "Add image", :images %>
    </p>
    <%= f.input :price %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button %>
  <% end  %>
<% end %>

