<% title "Ads" %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image Url</th>
    <th>Ad type</th>
    <th>Price</th>
  </tr>
  <% for ad in @ads %>
    <tr>
      <td><%= ad.title %></td>
      <td><%= ad.description %></td>
      <td>
        <% ad.images.each do |image| %>
          <%= image_tag(image.file.url) %>
        <% end %>
      </td>
      <td>
        <%= Adtype.find(ad.adtype_id).name unless ad.adtype_id == nil %>
      </td>
      <td><%= ad.price %></td>
      <td><%= link_to "Show", ad %></td>
      <td><%= link_to "Edit", edit_ad_path(ad) %></td>
      <td><%= link_to "Destroy", ad, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<p> <%= will_paginate @ads %></p>
<p><%= link_to "New Ad", new_ad_path %></p>
<p><%= link_to "New Ad Type", new_adtype_path %></p>
