<% title "Ads" %>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image Url</th>
    <th>Ad type</th>
    <th>Price</th>
  </tr>
  <% for ad in @ads %>
    <tr>
      <td><%= ad.title %></td>
      <td><%= ad.description %></td>
      <td>
        <% ad.images.each do |image| %>
          <%= image_tag(image.file.url) %>
        <% end %>
      </td>
      <td>
        <%= ad.adtype.name %>
      </td>
      <td><%= ad.price %></td>
      <td><%= link_to "Show", ad %></td>
      <%= render :partial => 'edit_and_destroy_links', :locals => {:subject => ad}  %>
    </tr>
  <% end %>
</table>
<p> <%= will_paginate @ads %></p>
<% if can? :create, ad %>
  <p><%= link_to "New Ad", new_ad_path %></p>
<% end %>
