<% title "Ad" %>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>
<p>
  <strong>Ad Type:</strong>
  <%= Adtype.find(@ad.adtype_id).name unless @ad.adtype_id == nil %>
</p>
<p>
  <strong>Image Url:</strong>
  <% @ad.images.each do |image| %>
    <%= image_tag(image.file.url) %>
  <% end %>

</p>
<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
  <%= link_to "Edit", edit_ad_path(@ad) %> |
  <%= link_to "Destroy", @ad, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", ads_path %>
</p>
