<% title "Ad" %>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>
<p>
  <strong>Ad Type:</strong>
  <%#= Adtype.find(@ad.adtype_id).name unless @ad.adtype_id == nil %>
  <%= link_to @ad.adtype.name, adtype_path(@ad.adtype) %>
</p>
<p>
  <strong>Image Url:</strong>
  <% @ad.images.each do |image| %>
    <%= image_tag(image.file.url) %>
  <% end %>

</p>
<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>

<p>
<%= render :partial => 'edit_and_destroy_links', :locals => {:subject => @ad}  %>
  <%= link_to "View All", ads_path %>
</p>
