<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put}) do |f| %>
  <%= render :partial => 'fields', :locals => {:f => f} %>
  <%= f.input :password, :input_html => { :size => 30 }  %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.input :password_confirmation, :input_html => { :size => 30 }  %>
  <%= f.input :current_password, :input_html => { :size => 30 }  %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.submit "Update" %>
<% end %>

<% if can? :destroy_account, @user %>
  <h3>Cancel my account</h3>
  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
<% end %>
<%= link_to "Back", :back %>
