<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %> 
    <%= stylesheet_link_tag 'formtastic', 'my_formtastic_changes' %>
    <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
    <%= javascript_include_tag :application, "nested_form" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
